body{
	margin:0;
	padding:0;
	background: linear-gradient(to right, orange, red);
	text-align:center;
	font-family:"Times New Roman", sans-serif;
	color:#383838;
	-webkit-transition: all 1s ease-out;
	transition: all ease 1s;
}

h1 {
	text-transform: uppercase;
	line-height:1.5em;
	letter-spacing: .5em;
	font-size:3.4em;
	max-width:80vw;
	margin:.5em auto;
	font-weight: bolder;
	margin-bottom:.25em;
}

h2 {
	font-family: "Times New Roman", serif;
	letter-spacing: .1em;
	text-transform: uppercase;
	font-size:1.5em;
}